.content-wrapper {
    background: #fff!important;;
}


//Tabs Perfil
#navPerfil > div > .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #007bff!important;
    background-color: transparent!important;
    border-bottom: 2px solid #007bff !important;
    border-radius: 0px!important;
}
#navPerfil{
    border:1px solid rgba(0,0,0,0.1);
}

#datosContacto div div label,#datosPersonales div div label,#datosAdmin div div label, .sp1 {
    font-weight: 600;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}
.sp1{
    color:#222!important;
}
#datosContacto div div input{ //, #datosPersonales div div input{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}